@font-face {
    font-family: 'Roboto-Regular';
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {text-decoration: none}

body {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    font-size: 1.2rem;
}

.content {padding: 0 300px}

.skip-head {padding-top: 74px;}

/* <-------------------- Header start -----------------> */

.header {
    z-index: 9;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1DFDF;
    padding: 12px 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.logo-block {
    display: flex; 
    align-items: center;
}

.logo-text {
    font-weight: 500;
    margin-left: 10px;
    display: grid;
    grid-template-rows: 17px;
    text-transform: uppercase;
    
}

.logo-yummy {color: #C11717}
.logo-pizza {color: #FF9F00}

.nav {
    display: flex;
    list-style: none;
}

.nav-link {
    color: #C11717;
    position: relative;
    font-family: 'Roboto-Regular';
    font-weight: 400;
}

.nav-link::before {
    transition: all .3s;
    content: '';
    position: absolute;
    bottom: -3px;
    background: #A72D2D;
    width: 0%;
    height: 2px;
}

.nav-link:hover::before {width: 100%}

.nav > li:not(:first-child) {margin-left: 22px}

.hide {display: none;}

/* <-------------------- Burger menu -----------------> */

.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.burger > div:not(:first-child) {margin-top: 10px;}

.burger > div {
    width: 40px;
    height: 3px;
    background-color: rgb(49, 49, 49);
}

.burger-menu--not {
    z-index: 10;
    transition: .4s;
    background-color: #f7f7f7;;
    height: 100vh;
    width: 320px;
    position: fixed;
    right: -400px;
    top: 0;
    border-left: 2px solid #b59ea8;
}

.burger-menu {
    z-index: 10;
    transition: .4s;
    background-color: #f7f7f7;;
    height: 100vh;
    width: 320px;
    position: fixed;
    right: 0;
    top: 0;
    border-left: 2px solid #b59ea8;
}

.burger-menu > ul,
.burger-menu--not > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 40px 0 0 45px;
}

.close {
    font-size: 1.3em;
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.burger-menu > ul > li:not(:first-child),
.burger-menu--not > ul > li:not(:first-child) {margin-top: 7px;}

.burger-link {
    color: #C11717;
    position: relative;
    font-size: 1.4em;
    text-transform: uppercase;
}

.burger-menu > .invisible-block {
    z-index: 0;
    transition: .4s;
    background-color: rgba(0, 0, 0, 0.25);
    width: 120vh;
    height: 100vh;
    position: absolute;
    right: 320px;
}

.burger-logo--block {
    margin: 40px 0 0 45px;
    display: flex; 
    align-items: center;
}

.burger-text {
    font-size: 1.3em;
    font-family: 'Roboto-Medium';
    font-weight: 500;
    margin-left: 10px;
    display: grid;
    grid-template-rows: 21px;
    text-transform: uppercase;
}

.burger-yummy {color: #C11717}
.burger-pizza {color: #FF9F00}



/* <-------------------- Active links -----------------> */

.active {color: #520000}

.active::before {
    content: '';
    position: absolute;
    bottom: -3px;
    background: #520000;
    width: 100%;
    height: 2px;
}

/* <-------------------- Active links -----------------> */



/* <-------------------- Header end -----------------> */



/* <-------------------- Home-Main start -----------------> */

.home-main {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../../../public/image/header/header-main/background.jpg);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-main__logo-block {
    margin-top: 200px;
    display: flex; 
    align-items: center;
}

.home-main__logo-text {
    font-family: 'Roboto-Medium';
    font-weight: 500;
    font-size: 2.2em;
    margin-left: 10px;
    display: grid;
    grid-template-rows: 37px;
    text-transform: uppercase;
}

.home-main__logo-yummy {color: #A72D2D}
.home-main__logo-pizza {color: #FFAE27}

.home-main__under-logo {
    margin: 20px 0;
    font-size: 1.3em;
    color: #f5f0f0;
}

.home-main__yummy-title {
    margin-bottom: 10px;
    font-family: 'Roboto-Bold';
}

.home-main__btn {
    margin-top: 30px;
    background-color: #7D34C6;
    border: 0;
    border-radius: 20px;
    font-size: 0.8em;
    color: #f5f0f0;
    padding: 15px 50px;
    cursor: pointer;
    transition: .3s;
}

.home-main__btn:hover {
    background-color: #581799;
    color: #d4d4d4;
}



/* <-------------------- Home-Main end -----------------> */



/* <-------------------- Footer start -----------------> */


.footer {
    background-color: #F1DFDF;
    text-align: center;
    width: 100%;
    padding: 45px 25% 0;
}

.footer > .info-blocks {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    margin-bottom: 50px;
}

.footer-title {
    color: #3F3737;
    font-family: 'Roboto-Medium';
    font-weight: 500;
    font-size: 1.6em;
    text-transform: uppercase;
    border-bottom: 2px solid #BC8E18;
    display: inline-block;
    margin-bottom: 32px;
}

.footer-text,
.footer-email {
    font-family: 'Roboto-Medium';
    font-weight: 500;
    color: #A72D2D;
    font-size: 1em;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 175px;
    list-style-type: none;
    margin-top: 20px;
}

.copyright {
    color: #8A8A8A;
    font-size: 0.5em;
    padding-bottom: 5px;
}



/* <-------------------- Footer end -----------------> */



/* <-------------------- Menu-Main start -----------------> */


.menu-main {
    background-color: #ECE5E5;
    padding: 90px 0 70px;
}

.m-m__title {
    text-align: center;
    border-bottom: 2px solid #3F3737;
    color: #3F3737;
}

.m-m__title h1 {
    padding-bottom: 5px;
    font-size: 1.6em;
    font-family: "Roboto-Regular";
    font-weight: 400;
    text-transform: uppercase;
}

.order-list {position: relative}

.count-food {
    position: relative;
    display: flex;
    align-items: center;
    color: #3F3737;
    margin: 40px 0 30px;
}

.dash {
    background-color: #A8A8A8;
    width: 100%;
    height: 2px;
    display: inline-block;
}

.italian-title h2,
.american-title h2,
.other h2 {
    white-space: nowrap;
    margin-right: 10px;
    font-size: 1.5em;
    font-family: 'Roboto-Regular';
    font-weight: 400;
    position: relative;
}

.pizza {
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 10px;
    color: #585858;
}

.pizza-content {
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 130px;
}

.pizza-name {
    font-family: 'Roboto-Medium';
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.pizza-img {border-radius: 10px 10px 0 0;}

.pizza-text {font-size: .9em;}

.pizza-bottom {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizza-buttons button {
    text-align: center;
    align-items: baseline;
    margin: 0 8px;
    background-color: #838383;
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: 700;
    cursor: pointer;
    padding: 0 10px;
    border: none;
    color: #222222;
}

.order-pizza {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    width: 100%;
}

/*<----------------------------------- filter start  --------------------------------->*/

.filter {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    position: relative;
}

.category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#category {display: none;}

.cg {
    cursor: pointer;
    color: #484848;
    background: #DFDFDF;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .3s;
}

.cg:hover {
    color: #f2f2f2;
    background: #b0b0b0;
}

.cg:not(:last-child) {margin-right: 30px;}

.cg-active {
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 30px;
    border-radius: 20px;
    transition: .3s;
    background: #202020;
    color: #FFFFFF;
}

.cg-active__last {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .3s;
    background: #202020;
    color: #FFFFFF;
}

/*<----------------------------------- filter end and cart start  --------------------------------->*/

.cart {
    display: flex;
    background: #E36F04;
    padding: 10px 20px;
    border-radius: 50px;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: .3s;
}

.cart:hover {background: #bf5c00}

.cart-img {
    margin-right: 7px;
    transform: translateY(2px);
}

.count {
    border-left: 1px solid #ffffff;
    padding-left: 15px;
}

.price {padding-right: 15px}

.cart-not__active {display: none}

.hide-cart {
    position: relative;
    color: #3F3737;
    width: 45%;
    height: 600px;
    max-height: 600px;
    border-radius: 15px;
    top: 16%;
    left: 28%;
    margin: auto;
    background: #ffffff;
    position: fixed;
    z-index: 11;
}

.bg-cart {
    bottom: 0;
    left: 0;
    background: #000;
    position: fixed;
    opacity: .5;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #3F3737;
    padding: 5px 23px;
    
}

.clear-cart {
    color: #F44336;
    font-family: 'Roboto-Medium';
    font-weight: 500;
    cursor: pointer;
}

.cart-title {
    font-family: 'Roboto-Regular';
    font-weight: 400;
}

.cart-order__block {
    overflow-y: auto;
    padding: 30px 25px 10px;
    max-height: 470px;
}

.cart-pizza__img {
    float: left;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.cart-mob {display: none;}

.cart-pizza {
    display: block;
    position: relative;
    border: 1px solid #CDCDCD;
    border-radius: 10px;
}

.cart-pizza:not(:last-child) {margin-bottom: 20px}

.cart-pizza__flex-block {
    display: flex;
    align-items: flex-start;
}

.cart-pizza__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 40px 3px 15px;
}

.cart-pizza__text-block {
    justify-self: flex-start;
    max-width: 300px;
}

.cart-pizza__title {
    font-family: 'Roboto-Medium';
    font-weight: 500;
    color: #000000;
}

.cart-pizza__text {
    color: #585858;
    margin-bottom: 4px;
}

.cart-pizza__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
}

.cart-pizza__remove {
    background: #FF0F00;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.cart-pizza__remove::before, .cart-pizza__add::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 3px;
    top: calc(50% - (3px / 2));
    left: calc(50% - (12px / 2));
    background: #ffffff;
}

.cart-pizza__add {
    background: #3FF300;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.cart-pizza__add::after {
    position: absolute;
    content: '';
    width: 3px;
    height: 12px;
    top: calc(50% - (12px / 2));
    left: calc(50% - (3px / 2));
    background: #ffffff;
}

.cart-pizza__remove-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.cart-pizza__price {
    font-weight: 500;
    color: #2F2F2F;
    margin-bottom: 4px;
}

.together-price {
    font-family: 'Roboto-Medium';
    font-weight: 500;
    font-size: 1.1em;
    margin: 8px 0 5px 25px
}

.to-cart {
    width: 100%;
    background: #E36F04;
    position: absolute;
    text-align: center;
    height: 40px;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Roboto-Medium";
    font-weight: 500;
    padding: 9px 0;
}

/* <---------------------------------- main cart end, start page cart ------------------------------------> */

.page-cart {
    padding-bottom: 50px;
    min-height: 70vh;
    background-color: #ECE5E5;
}

.page-cart__logo {
    text-align: center;
    border-bottom: 2px solid #3F3737;
    color: #3F3737;
    margin-top: 15px;
    padding-bottom: 5px;
    font-size: 1.6em;
    font-family: "Roboto-Regular";
    font-weight: 400;
    text-transform: uppercase;
}

.page-cart__order {margin-top: 50px}

.page-cart__buy-block {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    font-size: 24px;
}

.buy__price {
    font-family: 'Roboto-Medium';
    font-weight: 500;
    margin-left: 5px;
    margin-bottom: 10px;
}

.buy__button {
    width: 250px; 
    margin-top: 5px;
    background-color: #7D34C6;
    border: 0;
    border-radius: 20px;
    font-size: 0.8em;
    color: #f5f0f0;
    padding: 15px 50px;
    cursor: pointer;
    transition: .3s;
}

.buy__button:hover {
    background-color: #581799;
    color: #d4d4d4;
}

/* <-------------------------------- cart end start from -------------------------------> */

.form {min-height: 70vh}

.form-title {
    text-align: center;
    border-bottom: 2px solid #3F3737;
    color: #3F3737;
    margin: 15px 0;
    padding-bottom: 5px;
    font-size: 1.6em;
    font-family: "Roboto-Regular";
    font-weight: 400;
    text-transform: uppercase;
}

.form-input {
    background-color: #CECECE;
    padding: 10px 20px;
    width: 60%;
    border: 0;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 18px;
}

.form-question {
    font-size: 20px;
    margin: 20px;
}

.link-question {
    color: #C11717;
    font-family: 'Roboto-Regular';
    font-weight: 400;
}

.form-button {
    padding: 10px 20px;
    background-color: #7D34C6;
    color: #ffffff;
    font-size: 18px;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
    font-family: 'Roboto-Regular';
    font-weight: 400;
}

.form-button:hover {
    background-color: #581799;
    color: #d4d4d4;
}











@media (max-width: 1550px) {
    .hide-cart {
        width: 58%;
        left: 21%
    }
    .footer {padding: 45px 15% 0;}
    .content {
        padding-left: 170px;
        padding-right: 170px;
    }
    .header {padding: 12px 170px}
}

@media (max-width: 1209px) {
    .hide-cart {
        width: 65%;
        left: 18%
    }
    .cg:not(:last-child) {margin-right: 15px;}
    .order-pizza {grid-template-columns: 1fr 1fr}
}

@media (max-width: 1080px) {
    .cg:not(:last-child) {margin-right: 30px;}
    .cart {display: none}
    .cart-mob {
        display: inline-block;
        position: fixed;
        background: #E36F04;
        color: #ffffff;
        padding: 10px 20px;
        text-align: center;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        z-index: 3;
    }
    .cart-pizza__img {display: none;}
    .price, .count {display: none;}
    .header {padding: 12px 110px}
    .content {
        padding-left: 110px;
        padding-right: 110px;
    }
    .footer {padding: 45px 14% 0;}
}

@media (max-width: 768px) {
    .form-input {width: 100%}
    .category {display: none;}
    #category {
        display: inline-block;
        padding: 10px 15px;
        font-size: 1em;
        border: 0;
        outline: none;
        border-radius: 10px;
        background: #DFDFDF;
    }
    .other-title,
    .american-title {width: 100%}
    .header {padding: 12px 30px}
    .content {
        padding-left: 30px;
        padding-right: 30px;
    }
    .center-nav {display: none;}
    .hide {display: inline-block}
    .home-main {
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../../../public/image/header/header-main/bg_2.jpg) center top;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .home-main__logo-block {margin-top: 140px}
    .info-blocks {flex-direction: column;}
    .about {margin-bottom: 50px; width: 276px}
    .order-pizza {width: 100%}
}

@media (max-width: 500px) {
    .cart-pizza__buttons {margin: 10px 0}
    .order-pizza {grid-template-columns: 1fr}
}

@media (max-width: 425px) {
    .copyright {font-size: .5em;}
    .home-main__logo-block {margin: 100px 0 30px}
    .home-main__yummy-title {margin-bottom: 25px;}
    .about {width: 258px}
    .footer-title {font-size: 1.5em}
    .footer-text, .footer-email {font-size: 1em;}
}

@media (max-width: 325px) {
    .about {width: 216px}
}

@media (max-width: 320px) {
    .buy__button {
        width: 200px; 
    }
    .burger-menu {border: 0}
    .home-main {height: 120vh}
    .home-main__logo-text {font-size: 1.4em}
    .burger-menu > ul,
    .burger-menu--not > ul {margin: 40px 0 0 80px}
    .burger-logo--block {margin: 40px 0 0 80px;}
    .content {
        padding-left: 10px;
        padding-right: 10px;
    }
}